
.site-navbar{
  background-color: #00e5ee;
}

#header_text{
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

#header_text_div {
  width:100%;
  text-align:center;
  position:relative;
  height: 6em;
  margin-top: 1.2em;
}
    
#header_text_div h1 {
  margin: 0;
  padding-top: 0.3em;
  font-size: 4em;
  font-family: 'Tangerine', serif;
}

#header_text_div .logo_img {
  position:absolute;
  top: 0;
  left:1.2em;
}

.logo_img img {
  height: 7em;
  padding-bottom: 10px;
}

.no-margin{
  margin:0px;
}

.no-padding{
  padding:0px;
}

#list{
  font-family: 'Tangerine', serif;
  font-size: 48px;
}

.media-object{
  width: 200px;
  height: 200px;
}

.media-body{
  padding: 20px;
}

.img-class{
  margin-left: 15px;
  margin-top: 10px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.site-footer{
  background-color: #00e5ee;
  padding: 10px;
  color:#777;
}

.media-heading {
  font-family: 'Hind', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.media-paragraph {
  font-family: 'Hind', sans-serif;
}

#main{
  margin-bottom: 50px;
  clear: both;
}

.img-center {
    margin: 0 auto;
}

.things{
   text-align: center;
   font-family: 'Hind', sans-serif;
}
/*
.thumbnail img:hover{
  transform:scale(1.1);
}

.thumbnail img{
transition:all 0.3s ease 0s;
width: 100%;
}
 
 .thumbnail{
  overflow: hidden;
 }
 

figcaption { 
  font-family: 'Hind', sans-serif;
  position: absolute; 
  background: rgba(0,0,0,0.75); 
  color: white; 
  padding: 10px 20px; 

  opacity: 0;
  bottom: 0; 
  left: 0;
  right:0;

  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}

figure:hover figcaption {
  opacity: 1;
  left: 0;
}

figure { 
  display: block; 
  position: relative; 
  overflow: hidden; 
}

*/

figcaption { 
  font-family: 'Hind', sans-serif;
}

.img-border{
  border: 5px solid #000;
  border-radius: 4px;
}



